<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container mt-5">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="p-5 bg-secondary text-white rounded">
            <h1>Sobre mim</h1>
            <p>Oi sou Thalis Zambarda desenvolvedor full stack javascript</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>